///////////////////////////////////////////////////////////////////////////////////////////////
// Radio
// style custom radio buttons and base style radio are extended from checkbox.scss
///////////////////////////////////////////////////////////////////////////////////////////////
@import '../../sass/assets/sass.scss';
/////////////////////////////////////////////////////////////////////////
// Partial Specific Variables
$radio-bg-color:			$white;
$radio-border-color:	$base-border-color;
$radio-border:				1px solid $radio-border-color;
$active-dot-color:		$primary-color;
/////////////////////////////////////////////////////////////////////////

label {
  display: block;
  cursor: pointer;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.inputRadio {
  position: relative;
  display: inline-block;
  outline: none !important;
  -webkit-appearance: none;
  vertical-align: middle;
  &::before {
		content: "";
		display: block;
		width: 15px;
		height: 15px;
		margin: -2px 5px 0 0;
		border-radius: 50%;
		box-shadow: 0 0 0 1px $radio-border-color;
		background: $radio-bg-color;
		border: 1px solid $radio-bg-color;
		z-index: 200;
		cursor: pointer;
  }

  &:checked::before {
  	background: $active-dot-color;
  	border-width: 4px;
  }

}