{
  "extends": ["airbnb"],
  "rules": {
  	"func-names": 0,
  	"react/prefer-stateless-function": 1,
  	"max-len": 0,
  	"no-undef": 0,
  	"no-dupe-keys": 0,
  	"no-unused-vars": 1,
  	"comma-dangle": 0,
  	"prefer-template": 0
  }
}