{
  "extends": ["airbnb"],
  "rules": {
  	"func-names": 0,
  	"react/prefer-stateless-function": 1,
  	"max-len": 0,
  	"no-undef": 0,
  	"no-dupe-keys": 0,
  	"comma-dangle": 0,
  	"prefer-template": 0,
    "indent": ["error", "tab"],
    "react/jsx-indent-props": [2, "tab"],
    "no-console": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "styles" }]
  }
}