//Importing global variables
@import '../../sass/assets/sass.scss';

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.header,
.footer {
  flex: none; /* 2 */
}

.footer {
  background: $footer-bg-color;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 63px;
  margin: 0;
  background-color: $header-bg-color;
  filter: alpha(opacity=70);
  opacity: 0.7;
  z-index: 1;
}

.container {
  display: flex;
  flex: 1 0 auto; /* 2 */
  flex-direction: column;
}

.content {
  margin-top: 1.5em;
}


@include media($desktop){
  .content {
    flex: 1;
    padding: 2em;
    margin: 0;
  }
  .nav {
    flex: 0 0 12em;
  }
  .header {
    padding: 0 1em;
  }
}