//Importing global variables
@import '../../sass/assets/sass.scss';


// Button Resets
button {
	color: inherit; 
	font: inherit;
	background: none;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button; 
  cursor: pointer; 
  line-height: normal;
  user-select: none;
}

button[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.major {
	padding: 15px 80px;
	background: $major-btn-color;
	font-size: $large-font-size;
 	color: $light-font-color;
	font-family: $accent-font-family;
	text-transform: uppercase;
	border-radius: $base-border-radius;
	transition: all 200ms ease-in-out;
	&:hover {
		background: $major-btn-color-hover;
	}
}


.minor {
 	color: $light-font-color;
	font-family: $accent-font-family;	
	padding: 10px 20px;
	background: $minor-btn-color;
	border-radius: $base-border-radius;
	transition: all 200ms ease-in-out;
	&:hover {
		background: $minor-btn-color-hover;
	}
}

// The submit buttons already have the properties of %major-btn. 
// To use %submit-btn on a non .cbButtonMajor element, use @extend %major-btn; along with @extend %submit-btn;
.submit {
	composes: major;
	background: $submit-btn-color;
	&:hover {
		background: $submit-btn-color-hover;
	}
}


