///////////////////////////////////////////////////////////////////////////////////////////////
// Variables
// The variables partial defines the variables used throughout the config. First define primary
// level variables, like $sans-serif and $blue. Then, plug those into base variables like
// $base-font-family and $primary-color. Then use those variables in broader level variables
// like $major-btn-color. Do not use color names or hex codes in the main Sass. Instead, plug 
// them into variables. For example, if you want p { color: #fff; }, don't use p { color: $white
// Instead, define $light-font-color: $white; and use p { color: $light-font-color; }
// More Info: https://dev.chi.cleverbridge.com/Steph/sassy/variables/
///////////////////////////////////////////////////////////////////////////////////////////////


// Typography
$sans-serif:        			'Josefin Sans', sans-serif;
$serif: 	        				'Playfair Display', serif;
$base-font-family: 				$sans-serif;
$accent-font-family: 			$serif;
$heading-font-family:			$accent-font-family;
$ie-font-family:					Tahoma, Geneva, sans-serif;
$icon-font-family: 				'cleverFont';

// Font Sizes
$base-font-size: 					1.05em;

$large-font-size:					$base-font-size * 1.5; // 19.6px
$medium-font-size:				$base-font-size * 1.2; // 16.8px
$small-font-size:         $base-font-size * 0.95; // 12.6px
$mini-font-size:          $base-font-size * 0.9; // 11.7px

$h1-font-size: 						1.8em;
$h2-font-size: 						1.2em;
$h3-font-size: 						1.4em;
$h4-font-size: 						$base-font-size * 1.2;
$h5-font-size: 						$base-font-size * 1.5;
$h6-font-size: 						$base-font-size * 1.3;

// Line height 
$base-line-height: 				1.5em;

// Colors
$blue: 										#007285;
$blue-dark:								#35889d;
$green:                 	#17ab41;
$red:                   	#e4342b;
$yellow:                	#f9c62d;
$orange:                	#ff8a00;
$pink:                 	 	#FFBCB7;
$purple:                	#33385d;
$navy:                  	#35414d;
$teal:										#37b9ac;

// Grays 	
$gray:                 		#666; 
$gray-dark: 							#383838;
$gray-medium: 						#ccc;
$gray-light: 							#7b7570;
$gray-lighter:          	#bfbfbf;
$gray-lightest:         	#f2f2f2;
$black:                	 	#000;
$white:                 	#fff;
$off-white:								#f7f7f7;

// Main Colors
$primary-color:						$blue;
$accent-color:						$orange;

// Background Colors
$base-bg-color: 					$off-white;
$header-bg-color: 				$gray-dark;
$footer-bg-color: 				$gray-dark;
$wrapper-bg-color: 				$white;
$popup-bg-color: 					$white;			// use for any background of something that is overlaid on page (popups, modals, tooltips)

// Font Colors
$base-font-color: 				$gray-dark;
$light-font-color: 				$white;
$medium-font-color: 			$gray-light;
$heading-font-color: 			$gray-dark;
$footer-font-color: 			$white;

// Link Colors
$base-link-color: 				$primary-color;
$base-link-color-hover: 	$accent-color;
$footer-link-color:				$white;
$footer-link-color-hover:	$white;

// Button Colors
$major-btn-color: 				$white;
$major-btn-color-hover:		$pink;
$major-btn-border-color: 	$major-btn-color;

$minor-btn-color: 				$accent-color;
$minor-btn-color-hover: 	darken($minor-btn-color, 5);
$minor-btn-border-color:	$minor-btn-color;
      
$submit-btn-color: 				$green;
$submit-btn-color-hover:	darken($submit-btn-color, 10);
$submit-btn-border-color: $submit-btn-color;

$add-btn-color: 		 			$minor-btn-color;
$add-btn-color-hover: 	 	$minor-btn-color-hover;
$add-btn-border-color: 	 	$minor-btn-border-color;

$delete-btn-color: 		 		$red;
$delete-btn-color-hover: 	darken($delete-btn-color, 10);
$delete-btn-border-color: $delete-btn-color;

// Error
$error-color: 						$red;
$error-border-color:      darken(adjust-hue($error-color, -10), 3%);

// Success
$success-color: 					$green;

// Border
$base-border-color: 			$gray-lighter;
$base-border: 						1px solid $base-border-color;
$base-border-radius: 			5px;

// Layout
$header-height:						49px;

// Margins & Paddings
$block-margin:						20px 10px;
$block-margin-only-vertical:	10px 0;
$block-padding:						20px;
$block-padding-small:			5px 10px;
$column-margin-bottom:		20px;