<!doctype html>  
<html>  
  <head>
    <title>Pliskovic Party</title>
    <link rel="shortcut icon" href="<%-build%>/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="<%-build%>/style.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic|Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="app"></div>
    <script src="<%-build%>/bundle.js"></script>
</body>
</html>