//Importing global variables
@import '../../sass/assets/sass.scss';

$heading-color: $teal;
$animation-color: $primary-color;
.animate {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2em;
  canvas { z-index: 0; }
}

.contain {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.button {
	margin-bottom: 3em;
	animation: button 3s ease-in-out ;
}

//
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,300);

.frame {
  align-self: center;
  position: relative;
  width: 575px;
  height: 233px;
	overflow: hidden;
	animation: showbg 1.7s ease-in 0s;
  color: $heading-color;
  @include background-opacity($base-bg-color, 0.5);
	//font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.circle {
	position: absolute;
	z-index: 10;
	height: 50px;
	width: 50px;
	top: 93px;
	left: 262px;
	background: $animation-color;
	border-radius: 50%;
	animation: circle 1s ease-in-out;
	animation-fill-mode: forwards;
}

.line {
	position: absolute;
	z-index: 10;
	width: 198px;
	height: 3px;
	top: 115.5px;
	background: $animation-color;
	transform: scaleX(0);
}

.lineLeft {
	composes: line;
	left: 8px;
	transform-origin: 100% 50%;
	animation: lines 1s ease-in-out .8s, line-left 1s steps(1) .8s;
}

.lineRight {
	composes: line;
	right: 8px;
	transform-origin: 0% 50%;
	animation: lines 1s ease-in-out .8s, line-right 1s steps(1) .8s;
}

.bracket {
	position: absolute;
	z-index: 10;
	height: 170px;
	width: 3px;
	top: 32px;
	background: $animation-color;
	animation: bracket .4s ease-out 1.7s;
	animation-fill-mode: both;
	
	&:before, &:after {
		position: absolute;
		display: block;
		content: '';
		width: 25px;
		height: 3px;
		background: $animation-color;
	}
}

.bracketLeft {
	composes: bracket;
	left: 5px;
	&:before {
		top: 0;
		left: 0;
		transform-origin: 0% 50%;
		animation: bracket-line .2s ease-out 2.1s;
		animation-fill-mode: both;
	}
	
	&:after {
		bottom: 0;
		left: 0;
		transform-origin: 0% 50%;
		animation: bracket-line .2s ease-out 2.1s;
		animation-fill-mode: both;
	}
	
}

.bracketRight {
	composes: bracket;
	right: 5px;
	&:before {
		top: 0;
		right: 0;
		transform-origin: 100% 50%;
		animation: bracket-line .2s ease-out 2.1s;
		animation-fill-mode: both;
	}
	
	&:after {
		bottom: 0;
		right: 0;
		transform-origin: 100% 50%;
		animation: bracket-line .2s ease-out 2.1s;
		animation-fill-mode: both;
	}
	
}

.big {
	position: absolute;
	top: 54px;
	width: 575px;
	text-align: center;
	font-weight: 800;
	font-size: 90px;
	color: $heading-color;
	line-height: 75px;
	text-transform: uppercase;
	animation: show 1.7s ease-out 0s;
}

.small {
	position: absolute;
	z-index: 10;
	width: 575px;
	text-align: center;
	left: 0;
	font-weight: 300;
	font-size: 40px;
	color: $heading-color;
	line-height: 40px;
	text-transform: uppercase;
}

.smallTop {
	composes: small;
	top: 0;
	animation: small-top .5s ease-out 2.2s;
	animation-fill-mode: both;
}

.smallBottom {
	composes: small;
	bottom: -9px;
	animation: small-bottom .5s ease-out 2.2s;
	animation-fill-mode: both;
}

.hide {
	position: absolute;
	z-index: 7;
	width: 570px;
	height: 86px;
	@include background-opacity($base-bg-color, 1);
	left: 0;
	animation: reveal .4s ease-out 1.7s, show 1.7s ease-out 0s;
	animation-fill-mode: both;
}
.hideTop {
	composes: hide;
	bottom: 49%;
	transform-origin: 50% 0%;
}

.hideBottom {
	composes: hide;
	top: 49%;
	transform-origin: 50% 100%;
}

@include media( new-breakpoint(max-width 600px)){
	.frame {
	  width: 320px;
	  height: 170px;
	}
	.big {
		font-size: 50px;
		width: 320px;
		line-height: 44px;
	}
	.small {
		font-size: 30px;
		width: 320px;
		line-height: 43px;
	}
	.bracketLeft, .bracketRight {
		height: 115px;
	}
}

@keyframes circle {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	90%, 100% {
		transform: scale(0);
	}
}

@keyframes lines {
	0% {
		transform: scaleX(0);
	}
	50% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0);
	}
}

@keyframes line-left {
	0% {
		transform-origin: 100% 50%;
	}
	50%, 100% {
		transform-origin: 0% 50%;
	}
}

@keyframes line-right {
	0% {
		transform-origin: 0% 50%;
	}
	50%, 100% {
		transform-origin: 100% 50%;
	}
}

@keyframes bracket {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes bracket-line {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}
@keyframes showbg {
	0% {
		@include background-opacity($base-bg-color, 0);
	}
	20% {
		@include background-opacity($base-bg-color, 0);
	}
	48% {
		@include background-opacity($base-bg-color, 0.7);
	}
	100% {
		@include background-opacity($base-bg-color, 0.7);
	}
}
@keyframes show {
	0% {
		opacity: 0;
	}
	52% {
		opacity: 0;
	}
	53% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes reveal {
	0% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(0);
	}
}

@keyframes small-top {
	0% {
		transform: translateX(-20px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes small-bottom {
	0% {
		transform: translateX(20px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes button {
	0% {
		transform: scaleY(0);
	}
	92% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}