//Importing global variables
@import '../assets/sass.scss';
* {
	border: 0;
	margin: 0;
	padding: 0;
}


html {
  font-family: sans-serif; 
  text-size-adjust: 100%; 
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: inherit;
  -ms-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;  
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: $base-bg-color;
}

h1, h2, h3, p {
  margin: 0;
}
// All Headings
h1, h2, h3 {
  font-family: $heading-font-family;
  color: $heading-font-color;
}
h1 {
  font-size: $h1-font-size;
  font-weight: 700;
  margin-bottom: 0.5em;
}

h2 {
  font-size: $h2-font-size;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 1.1em;
}

h3 {
  font-size: $h3-font-size;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em;
}
// Links
a {
  color: $base-link-color;
  text-decoration: none;
  &:hover {
    color: $base-link-color-hover;
  }
}

// Paragraph
p {
  font-family: $sans-serif;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-bottom: 1.5em;
}